# Salin file ini menjadi .env dan isi nilai yang sesuai
# Jangan commit .env ke git!

# HiveMQ Cloud - dari console.hivemq.cloud
MQTT_HOST=ea5c1878aaf1441d86f9a6f2094a4e35.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=bubby
MQTT_PASSWORD=Wulanchan@1

# API Security
API_SECRET=ganti-dengan-string-acak-panjang-minimal-32-karakter

# Akun login dashboard
ADMIN_USER=admin
ADMIN_PASS=pass123
